#brand-form .image-container {
    width: 300px;
    height: 55px;
    margin: 0.5rem;
}
.img-table-container {
    width: 9rem;
    height: 5rem;
}
.label-title {
    font-weight: 900;
}
.modal-item {
    padding: 5px;
}
